{% load static %}
{% load custom_filters %}

<!DOCTYPE html>
<html>

<head>

    <meta charset="UTF-8">
    <title> IstoryA - Register </title>
    <link href="{% static 'main//vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'main/css/home.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">

</head>

<body>

    <div class="loader-wrapper">
        <span class="loader"><span class="loader-inner"></span></span>
    </div>

   <div class="shadow-title parallax-top-shadow">IstoryA</div>

   <div class="content_login ">
       <a href="{{ update_path }}" style=" position: fixed; top: 10vh; left: 2vw;"><span>Save</span></a>
       <a href="{{ overview_path }}" style=" position: fixed; top: 15vh; left: 2vw;"><span>Overview</span></a>
       <a href="/home" style=" position: fixed; top: 20vh; left: 2vw;"><span>Home</span></a>
       <a href="{{ order_path }}" style=" position: fixed; top: 25vh; left: 2vw;"><span>Text reorganization</span></a>
   </div>

   <h1 class="title_create_page">Create your storyboard</h1>
   <div class="line_create_page"></div>

    <div class="main">
        <div class="storyboard">
            {% for case in lengthStoryboard %}
                 <div class="storyboard_case" onDragStart="start(event)">
                     <div class="storyboard_picture">
                         <div class="load_ajax_picture_list">
                          {% for key, value in list_picture_save_and_case_id.items %}
                              {% if case == key and value %}
                                    <img style="position: relative; width: 94%; left: 15px;" src="data:image/png;base64,{{value|binary_to_image}}" alt="">
                              {% endif %}
                          {% endfor %}
                         </div>
                     </div>
                     <div class="storyboard_text storyboard_text_depot {{ case }}" onDragOver="return over(event)" onDrop="return drop(event)">
                         {% for key, value in dict_text.items %}
                             {% if case == key %}
                                    {% for value_unit in value %}
                                        <span class="badge badge-secondary base" id="{{ value_unit }}" draggable="true"><span class="badge badge-light">{{ value_unit }}</span></span>
                                    {% endfor %}
                             {% endif %}
                         {% endfor %}
                    </div>
                     <form id="generatePicture{{ case }}" method="POST">
                         <div class="generate_form">
                             <div class="input-group mb-3">
                                  <select name="text" class="custom-select" id="inputGroupSelectPicture{{ case }}">
                                        <option value="choose" selected>Choose...</option>
                                        {% for key, value in dict_text.items %}
                                             {% if case == key %}
                                                    {% for value_unit in value %}
                                                       <option value="{{ value_unit }}">{{ value_unit }}</option>
                                                    {% endfor %}
                                             {% endif %}
                                         {% endfor %}
                                  </select>
                                 <input style="display: none" type="text" value="{{ case }}" name="case">
                                 <input style="display: none" type="text" value="{{ storyboard_infos.id }}" name="storyboard">
                                 <input style="display: none" type="text" value="{{ request.user.id }}" name="owner">
                                 <div class="input-group-append">
                                     <button class="btn btn-secondary" id="submitGeneratePicture{{ case }}" name="submit" value="Submit" type="button">Generate</button>
                                 </div>
                             </div>
                         </div>
                     </form>
                 </div>
            {% endfor %}
        </div>
        <div id="text_generation" style="overflow: auto;" class="storyboard_text_depot generation_text generation_depot" onDragStart="start(event)" onDragOver="return over(event)" onDrop="return drop(event)">
            <div id="wrapper-filter">
                <ul id="filter-bar">
                        <span class="pill"></span>
                        <li class="filter-option option-1" id="Generated" data-target="option-1">Generated texts</li>
                        <li class="filter-option option-2 active" id="Saved" data-target="option-2">Saved texts</li>
                        <i class="fas fa-sync regen" data-toggle="modal" data-target="#regenerate_text"></i>
                    </ul>
            </div>
            <div class="load_ajax_text_list">
                {% include 'main/list_text.html' %}
            </div>
        </div>
    </div>

    <!-- Scroll back to top
    ================================================== -->

    <div class="scroll-to-top hover-target"></div>

    <!-- Modal 1 -->
    <div class="modal fade" id="create_text" tabindex="-1" role="dialog" aria-labelledby="create_textLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="create_textLabel" style="color: black">Generate Storyboard</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label>Select your genre</label>
                        {{ form.typeStory }}
                    </div>
                    <div class="form-group">
                        <label>Enter the first sentence of your storyboard</label>
                        {{ form.startStory }}
                    </div>
                    <div class="form-group">
                        <label>Length of your storyboard (max = 512 words)</label>
                        {{ form.lengthStory }}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                    <button type="submit" name="submit" type="button" id="submit" class="btn btn-primary">Generate</button>
                </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Modal 2 -->
    <div class="modal fade" id="regenerate_text" tabindex="-1" role="dialog" aria-labelledby="regenerate_textLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="regenerate_textLabel" style="color: black">Regenerate a story</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label>Select your genre</label>
                        {{ formRegenerate.regenerateTypeStory }}
                    </div>
                    <div class="form-group">
                        <label>Enter the first sentence of your story</label>
                        {{ formRegenerate.regenerateStartStory }}
                    </div>
                    <div class="form-group">
                        <label>Length of your story (max = 512 words)</label>
                        {{ formRegenerate.regenerateLengthStory }}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                    <button type="submit" name="submit" type="button" id="submit2" class="btn btn-primary">Regenerate</button>
                </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Modal 3 -->
    <div class="modal fade" id="error_choose" tabindex="-1" role="dialog" aria-labelledby="error_chooseLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="error_chooseLabel" style="color: black">Error</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="color: black">
                     <p>Please select a sentence for generate a picture</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>

    <style>
        #filter-bar {
            width: 100%;
            margin:0;
            padding:0;
            height:36px;
            display:inline-flex;
        }

        #wrapper-filter {
            width: 50%;
            height: auto;
            margin: 0 auto 30px auto;
            box-sizing: border-box;
            color: white;
        }

        #filter-bar li {
            width: 190px;
            background-color: transparent;
            text-align: center; list-style-type: none;
            z-index:10;
            cursor: pointer;
            font-weight: 100;
            line-height:36px;
            margin-right: 25px;
            font-family: 'Etheriq_Normal';
        }

        .pill {
            position: absolute;
            width:190px;
            height: 38px;
            border-bottom: 2px solid #39c;
            color: white;
            z-index:10;
            box-sizing: border-box;
        }

        .filter-option {
            transition: color 500ms;
        }

        #filter-bar.option-1 .pill {
            margin-left: 0px;
            transition: margin-left 200ms ease;
        }

        #filter-bar.option-2 .pill {
            margin-left: 215px;
            transition: margin-left 200ms ease;
        }

        #filter-bar.option-3 .pill {
            margin-left: 425px;
            transition: margin-left 200ms ease;
        }




    </style>

</body>
</html>

    {% csrf_token %}
    <script>
        function start(e){
            e.dataTransfer.effectAllowed="move";
            e.dataTransfer.setData("text",e.target.getAttribute("id"));
        }
        function over(e){
            return false;
        }
        function drop(e){
            ob=e.dataTransfer.getData("text");
            e.currentTarget.appendChild(document.getElementById(ob));
            let drop_case = e.currentTarget.className
            drop_case = drop_case.split(' ')
            const queryString = window.location;
            let n_storyboard = String(queryString).split('/')
            let formData = new FormData();
            formData.append('n_case', drop_case[2]);
            formData.append('n_text', ob);
            formData.append('n_storyboard', n_storyboard[4]);
            const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
            const request = new Request('/update_case_storyboard/', {method: 'POST', body: formData, headers: {'X-CSRFToken': csrftoken}});
            fetch(request)
                .then(response => response.json())
                .then(result => {
                    console.log(result);
                })
            e.stopPropagation();
            return false;
        }
    </script>
    <!-- <script>
        $(document).ready( function() {
            $('.load_ajax_picture_list').html('').load("{% url 'update_list_picture' %}?storyboard=" + {{ storyboard_infos.id }});
        });
    </script> -->
    <script>
        $(document).ready( function() {
            $('.load_ajax_text_list').html('').load(
                "{% url 'update_list_text' %}?list_num=" + 2 + "&storyboard=" + {{ storyboard_infos.id }}
            );
            $("#filter-bar li").click(function(){
                $("#filter-bar li").removeClass("active");
                $(this).addClass("active");
                $("#filter-bar").removeClass().addClass($(this).attr("data-target"));
            });
            $("#Generated").click(function(){
                $('.load_ajax_text_list').html('').load(
                    "{% url 'update_list_text' %}?list_num=" + 2 + "&storyboard=" + {{ storyboard_infos.id }}
                );
            });
            $("#Saved").click(function(){
                $('.load_ajax_text_list').html('').load(
                    "{% url 'update_list_text' %}?list_num=" + 1 + "&storyboard=" + {{ storyboard_infos.id }}
                );
            });
        });
    </script>

    <script type="text/javascript" src="{% static 'main/js/jquery.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/interactjs/dist/interact.min.js"></script>
    <script type="text/javascript" src="{% static 'main//vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'main/js/formPictureGenerate.js' %}"></script>
    <script src="{% static 'main/js/animation.js' %}"></script>


