{% load static %}
{% load custom_filters %}
{% block content %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>IstoryA - Create your storyboard</title>
    <link href="{% static 'main//vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'main/css/home.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
</head>
<body>

    <div class="loader-wrapper">
        <span class="loader"><span class="loader-inner"></span></span>
    </div>

   <div class="shadow-title parallax-top-shadow">IstoryA</div>

   <div class="content-login">
       <a href="{{ update_path_reorder }}" class="button-left-one"><span>Save</span></a>
       <a href="{{ overview_path }}" class="button-left-two"><span>Overview</span></a>
       <a href="/home" class="button-left-three"><span>Home</span></a>
       <a href="{{ create_path }}" class="button-left-four"><span>Text Organization</span></a>
   </div>

   <h1 class="title-create-page">Create your storyboard</h1>
   <div class="line-create-page"></div>

    <div class="main">
        <div class="storyboard">
            {% for case in storyboard_range %}
                 <div class="storyboard-case" onDragStart="start(event)">
                     <div class="storyboard-picture">
                          {% for key, value in list_picture_save_and_case_id.items %}
                              {% if case == key and value %}
                                    <img class="picture-storyboard-case" src="data:image/png;base64,{{value|binary_to_image}}" alt="picture-storyboard-{{case}}">
                              {% endif %}
                          {% endfor %}
                     </div>
                     <div class="storyboard-text storyboard_text_depot {{ case }}">
                         {% for key, value in dict_text.items %}
                             {% if case == key %}
                                 <div id="sort{{ case }}" class="badge-sort" data-sortable=".order-badge">
                                    {% for value_unit in value %}
                                        <div class="order-badge" id="checkJS{{ case }}" data-position="{{ forloop.counter0 }}" data-id="{{ case }}" data-storyboard="{{ storyboard_infos.id }}" data-text="{{ value_unit }}">
                                            <span class="badge badge-secondary base" id="{{ value_unit }}" draggable="true"><span class="badge badge-light">{{ value_unit }}</span></span>
                                        </div>
                                    {% endfor %}
                                 </div>
                             {% endif %}
                         {% endfor %}
                     </div>
                     <form id="generate-picture-{{ case }}" method="POST">
                         <div class="generate-form">
                             <div class="input-group mb-3">
                                 <select name="text" class="custom-select" id="inputGroupSelectPicture{{ case }}">
                                     <option value="choose" selected>Choose...</option>
                                     {% for key, value in dict_text.items %}
                                         {% if case == key %}
                                             {% for value_unit in value %}
                                                 <option value="{{ value_unit }}">{{ value_unit }}</option>
                                             {% endfor %}
                                         {% endif %}
                                     {% endfor %}
                                 </select>
                                 <input style="display: none" type="text" value="{{ case }}" name="case">
                                 <input style="display: none" type="text" value="{{ storyboard_infos.id }}" name="storyboard">
                                 <div class="input-group-append">
                                     <button class="btn btn-secondary" id="submit-generate-picture-{{ case }}" name="submit" value="Submit" type="button">Generate</button>
                                 </div>
                             </div>
                         </div>
                     </form>
                 </div>
            {% endfor %}
        </div>
        <div style="overflow: auto;" id="text-generation" class="storyboard_text_depot generation_text generation_depot">
            <div id="wrapper-filter">
                <ul id="filter-bar">
                    <span class="pill"></span>
                    <li class="filter-option option-1 active" id="Generated" data-target="option-1">Generated texts</li>
                    <li class="filter-option option-2" id="Saved" data-target="option-2">Saved texts</li>
                    <i class="fas fa-sync regen" data-toggle="modal" data-target="#regenerate-text"></i>
                </ul>
            </div>
            <div class="load-ajax-text-list">
                {% include 'main/list_text.html' %}
            </div>
        </div>
    </div>

    <!-- Modal 1 - Regenerate Story -->
    <div class="modal fade" id="regenerate-text" tabindex="-1" role="dialog" aria-labelledby="regenerateTextLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="regenerateTextLabel" style="color: black">Regenerate a story</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="post">
                    <div class="modal-body">
                        {% csrf_token %}
                        <div class="form-group">
                            <label>Select your genre</label>
                            {{ formRegenerate.regenerate_type }}
                        </div>
                        <div class="form-group">
                            <label>Enter the first sentence of your story</label>
                            {{ formRegenerate.regenerate_start }}
                        </div>
                        <div class="form-group">
                            <label>Length of your story (max = 256 words)</label>
                            {{ formRegenerate.regenerate_length }}
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                        <button type="submit" name="submit" id="submit2" class="btn btn-primary">Regenerate</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Modal 2 - Error Message -->
    <div class="modal fade" id="error-choose" tabindex="-1" role="dialog" aria-labelledby="errorChooseLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="errorChooseLabel" style="color: black">Error</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="color: black">
                     <p>Please select a sentence for generate a picture</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>

</body>
</html>

<script type="text/javascript" src="{% static 'main/js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'main//vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

{% csrf_token %}
<script>
    $(document).ready( function() {
        $('.load-ajax-text-list').html('').load(
            "{% url 'update_list_text' %}?list_num=" + 2 + "&storyboard=" + {{ storyboard_infos.id }}
        );
        $("#filter-bar li").click(function(){
            $("#filter-bar li").removeClass("active");
            $(this).addClass("active");
            $("#filter-bar").removeClass().addClass($(this).attr("data-target"));
        });
        $("#Generated").click(function(){
            $('.load-ajax-text-list').html('').load(
                "{% url 'update_list_text' %}?list_num=" + 2 + "&storyboard=" + {{ storyboard_infos.id }}
            );
        });
        $("#Saved").click(function(){
            $('.load-ajax-text-list').html('').load(
                "{% url 'update_list_text' %}?list_num=" + 1 + "&storyboard=" + {{ storyboard_infos.id }}
            );
        });
    });
</script>
<script>
    $(document).ready(function() {
        for(var i = 1; i < 13; i++) {
            var classNameDiv = "#checkJS"+i
            var classNameDivSort = "#sort"+i
            if ($(classNameDiv)[0]){
                sortable = new Sortable(document.querySelector(classNameDivSort));
            }
            else{
                continue
            }
        }
    });
</script>
<script src="https://cdn.jsdelivr.net/npm/interactjs/dist/interact.min.js"></script>
<script type="text/javascript" src="{% static 'main/js/sorter.js' %}"></script>
<script type="text/javascript" src="{% static 'main/js/form_picture_generate.js' %}"></script>
<script src="{% static 'main/js/animation.js' %}"></script>

{% endblock %}

re.split("(?<!\w\.\w.)(?<![A-Z][a-z]\.)(?<=\.|\?)\s", result_text_generation)