{% load static %}

{% block content %}

<!DOCTYPE html>
<html>

<head>

    <meta charset="UTF-8">
    <title> IstoryA - Home </title>
    <link href="{% static 'main//vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'main/css/home.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">

</head>

<body>

   <div class="shadow-title parallax-top-shadow">IstoryA</div>

    <div class="content_login content_login_first_generation">
        <a href="#" style="margin-bottom: -100px" data-toggle="modal" data-target="#create_text"><span>Create your storyboard</span></a>
    </div>

   <h1 class="title_list_storyboard_home">List of your storyboards</h1>
   <div class="line line_title_list_storyboard_home"></div>

   <div class="content_login ">
       <a href="/wall" style=" position: fixed; top: 10vh; right: 4vw;"><span>IstoryA's Wall</span></a>
       <a href="/logout" style=" position: fixed; top: 15vh; right: 4vw;"><span>Logout</span></a>
  </div>

    <div class="storyboard_list_home">
        {% for storyboard in count_storyboard %}
           <ul class="cards">
               <li>
                <div href="" class="card">
                  <a href="/storyboard/{{ storyboard.id }}"><img src="https://i.imgur.com/oYiTqum.jpg" class="card__image" alt="" /></a>
                  <div class="card__overlay">
                    <div class="card__header">
                      <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>
                      <img class="card__thumb" src="https://i.imgur.com/7D7I6dI.png" alt="" />
                      <div class="card__header-text">
                        <h3 class="card__title">{{ user.get_username }}</h3>
                        <span class="card__tagline">{{ storyboard.name }}</span>
                        <span class="card__status">{{ storyboard.creation_date|timesince }} ago</span>
                          {% if storyboard.owner_fav == 0 %}
                              <a href="/fav_storyboard_home/{{ storyboard.id }}"><div id="fav_button" class="fav-btn {{ storyboard.id }}" style="background: url({% static 'main//pictures/site/fav.png' %});"></div></a>
                          {% elif storyboard.owner_fav == 1 %}
                            <a href="/fav_storyboard_home/{{ storyboard.id }}"><div id="fav_button" class="fav-btn {{ storyboard.id }} active" style="background: url({% static 'main//pictures/site/fav1.png' %});"></div></a>
                          {% endif %}
                      </div>
                    </div>
                    <p class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, blanditiis?</p>
                  </div>
                </div>
              </li>
           </ul>
        {% endfor %}
    </div>

    <div class="scroll-to-top hover-target"></div>

    <!-- Modal -->
    <div class="modal fade" id="create_text" tabindex="-1" role="dialog" aria-labelledby="create_textLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="create_textLabel" style="color: black">Generate Storyboard</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label>Select your genre</label>
                        {{ form.typeStory }}
                    </div>
                    <div class="form-group">
                        <label>Enter the first sentence of your storyboard</label>
                        {{ form.startStory }}
                    </div>
                    <div class="form-group">
                        <label>Length of your storyboard (max = 512 words)</label>
                        {{ form.lengthStory }}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" id="closeAddVideoChoiceP" data-dismiss="modal">Fermer</button>
                    <button type="submit" name="submit" value="Submit" id="submit" type="button" class="btn btn-primary">Generate</button>
                </div>
                </form>
            </div>
        </div>
    </div>

</body>
</html>

    <script type="text/javascript" src="{% static 'main/js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'main//vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

{% endblock %}