{% load static %}
{% load custom_filters %}
{% block content %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>IstoryA - Wall</title>
    <link href="{% static 'main//vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'main/css/home.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
</head>
<body>

    <div class="loader-wrapper">
        <span class="loader"><span class="loader-inner"></span></span>
    </div>

    <div class="shadow-title parallax-top-shadow">IstoryA</div>

    <h1 class="title-list-storyboard-home">IstoryA's Wall</h1>
    <div class="line line-title-list-storyboard-home"></div>

    <div class="content-login">
        <a href="/home" class="button-right-one"><span>Home</span></a>
        <a href="" data-toggle="modal" data-target="#logout" class="button-right-two"><span>Logout</span></a>
    </div>

    <div class="storyboard-list-home">
        {% for publish_storyboard, user, like, fav, profil_picture in infos %}
            <ul class="cards">
                <li>
                    <div href="" class="card">
                        {% if profil_picture != "bear.jpg" %}
                            <a href="/storyboard_published/{{ publish_storyboard.id }}"><img src="data:image/png;base64,{{profil_picture|binary_to_image}}" class="card-image" alt="" /></a>
                        {% else %}
                            <a href="/storyboard_published/{{ publish_storyboard.id }}"><img src="{% static 'main//pictures/site/bear.jpg' %}" class="card-image" alt="" /></a>
                        {% endif %}
                        <div class="card-overlay">
                            <div class="card-header">
                                <svg class="card-arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>
                                <img class="card-thumb" src="{% static 'main//pictures/site/round.png' %}" alt="" />
                                <div class="card-header-text">
                                    <h3 class="card-title">{{ user }}</h3>
                                    <span class="card-tagline">{{ publish_storyboard.name }}</span>
                                    <span class="card-status">{{ publish_storyboard.publish_date|timesince }} ago</span>
                                    <a href="/like_storyboard_publication/{{ publish_storyboard.id }}"><div id="fav_button" class="fav-btn {{ publish_storyboard.id }}" style="background: url({% static 'main//pictures/site/fav.png' %});"></div></a>
                                    <a href="/fav_storyboard_publication/{{ publish_storyboard.id }}"><i class="fas fa-heart like-btn"></i></a>
                                    <p class="like-btn-text">{{ like }}</p>
                                    <p class="fav-btn-text">{{ fav }}</p>
                                </div>
                            </div>
                            <p class="card-description">{{ publish_storyboard.publish_message }}</p>
                        </div>
                    </div>
                </li>
            </ul>
        {% endfor %}
    </div>

    <!-- Modal 1 - Logout -->
    <div class="modal fade" id="logout" tabindex="-1" role="dialog" aria-labelledby="logoutLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="logoutLabel" style="color: black">Logout</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="color: black">
                     <p>Do you want to disconnect ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                    <a href="/logout" type="button" class="btn btn-danger">Logout</a>
                </div>
            </div>
        </div>
    </div>

</body>
</html>

<script type="text/javascript" src="{% static 'main/js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'main//vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'main/js/animation.js' %}"></script>
<script>
    function fav(id) {
        window.location.href='/fav_storyboard_home/' + id;
        document.location.reload();
    }
</script>

{% endblock %}