@import url('https://fonts.googleapis.com/css?family=Muli:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&subset=latin-ext,vietnamese');
@font-face {
    font-family: Etheriq_Normal;
    src: url("../fonts/Etheriq_Normal.ttf");
}

body {
    width: 100%;
    display: block;
    overflow-x: hidden;
    background-color: #1f2029;
    color: #c4c3ca;
    font-family: 'Muli', sans-serif;
}

a:hover {
    text-decoration: none;
}

.shadow-title {
    position: fixed;
    top: 0;
    margin-top: 30px;
    left: 20px;
    width: 100%;
    height: 300%;
    text-align: left;
    font-family: 'Muli', sans-serif;
    -webkit-writing-mode: vertical-lr;
    writing-mode: vertical-lr;
    font-size: 14vw;
    line-height: 1;
    color: rgba(200,200,200,.1);
    background: linear-gradient(90deg, rgba(200,200,200,0), rgba(200,200,200,0.35));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
    z-index: -1;
}

.section {
    position: relative;
    width: 100%;
    display: block;
}

.full-height {
    height: 100vh;
}

.heading {
    color: #eee;
    font-size: 2.5vw;
    font-weight: 300;
    text-transform: uppercase;
    font-family: 'Etheriq_Normal';
    margin-top: -20vh;
}

.subtitle {
    text-transform: uppercase;
    font-family: 'Etheriq_Normal';
    font-size: 2.5vw;
    position: relative;
    text-align: center;
    margin-top: 5vh;
}

.section-typing {
    display: flex;
    align-items: center;
    margin-top: -175px;
    justify-content: center;
    height: 100%;
}

label {
    color: black;
}

.grid-pulse {
    flex: 0 0 auto;
    perspective: 600px;
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 200px);
    grid-gap: 20px;
    transform: translate(-50%, -50%) rotate(45deg);
    position: absolute;
    top: 50%;
    left: 50%;
}

.grid-pulse .div-pulse {
    background: rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.25);
    padding: 20px;
    color: transparent;
    box-shadow: 30px 30px 30px -20px rgba(0, 0, 0, 0.6);
    border-radius: 2px;
}

.grid-pulse .div-pulse:nth-child(odd) {
    -webkit-animation: 1000ms ease-in-out infinite alternate pulse;
            animation: 1000ms ease-in-out infinite alternate pulse;
}

.grid-pulse .div-pulse:nth-child(even) {
    -webkit-animation: 1000ms 1000ms ease-in-out infinite alternate pulse;
            animation: 1000ms 1000ms ease-in-out infinite alternate pulse;
}
  
@-webkit-keyframes pulse {
    to {
        transform: translate3d(0px, 0px, -60px);
        box-shadow: 15px 15px 20px -20px rgba(0, 0, 0, 0.8);
    }
}

@keyframes pulse {
    to {
        transform: translate3d(0px, 0px, -60px);
        box-shadow: 15px 15px 20px -20px rgba(0, 0, 0, 0.8);
    }
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6{
    font-family: 'Muli', sans-serif;
    font-weight: 300;
    margin-bottom: 0;
    line-height: 1.35;
    color: #fff;
}

h1, .h1 {
    font-size: 3.2rem;
    font-weight: 600;
}

h2, .h2 {
    font-size: 3.2rem;
}

h3, .h3 {
    font-size: 2.6rem;
    font-weight: 400;
}

h4, .h4 {
    font-size: 1.9rem;
    font-weight: 400;
}

h5, .h5 {
    font-size: 1.35rem;
    font-weight: 400;
}

h6, .h6 {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 1rem;
}

::selection {
    color: #fff;
}

::-moz-selection {
    color: #fff;
}

::selection {
    background-color: #000;
}

::-moz-selection {
    background-color: #000;
}

* {
    box-sizing: border-box;
}

.text-one-first-generation {
    text-align: center;
    font-size: 4vh;
}

.text-two-first-generation {
    text-align: center;
    font-size: 3vh;
}

.line {
    width: 100%;
    height: 2px;
    border-bottom: white 2px solid;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    margin-top: 8vh;
}

.line-create-page {
    width: 20vw;
    height: 2px;
    border-bottom: white 2px solid;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    margin-top: 7vh;
}

.line-title-list-storyboard-home {
    width: 30vw;
}

.title-list-storyboard-home {
    text-align: center;
    font-size: 3vh;
    top: 5vh;
    position: relative;
}

.title-create-page {
    text-align: center;
    font-size: 2.5vh;
    top: 4vh;
    position: relative;
}

.storyboard-list-home {
    width: 70vw;
    position: relative;
    top: 5vh;
    display: flex;
    flex-wrap: wrap;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
}

#get-text-generation {
    position: absolute;
    width: 80vw;
}

.dropdown-menu {
    z-index: 20;
}

.header {
    position: fixed;
    width:100%;
    top:0;
    left:0;
    z-index:100;
}

.content {
    padding-left: 400px;
    padding-right: 400px;
    padding-top: 150px;
}

.main {
    display: flex;
    width: 100vw;
}

.slide-storyboard {
    margin-top: 50px;
    width: 70vw;
    height: 70vh;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.carousel-caption {
    position: relative;
    right: 0 !important;
    left: 0 !important;
    bottom: -30px;
    margin-right: auto;
    margin-left: auto;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    height: 300px;
    padding-left: 10vw;
    padding-right: 10vw;
}

.picture-storyboard {
    position: relative;
    transform: translate(-50%, 0%);
    left: 50%;
    width: 40vh;
}

.text-storyboard{
    font-size: 2vh;
}

/* Filter bar for create.html & create2.html
============================================= */

#filter-bar {
    width: auto;
    margin:0;
    padding:0;
    height:36px;
    display:inline-flex;
}

#wrapper-filter {
    height: auto;
    margin: 0 auto 30px auto;
    box-sizing: border-box;
    color: white;
    text-align: center;
}

#filter-bar li {
    width: 190px;
    background-color: transparent;
    text-align: center; list-style-type: none;
    z-index:10;
    cursor: pointer;
    font-weight: 100;
    line-height:36px;
    margin-right: 25px;
    font-family: 'Etheriq_Normal';
}

.pill {
    position: absolute;
    width:190px;
    height: 38px;
    border-bottom: 2px solid #39c;
    color: white;
    z-index:10;
    box-sizing: border-box;
}

.filter-option {
    transition: color 500ms;
}

#filter-bar.option-1 .pill {
    margin-left: 0px;
    transition: margin-left 200ms ease;
}

#filter-bar.option-2 .pill {
    margin-left: 215px;
    transition: margin-left 200ms ease;
}

#filter-bar.option-3 .pill {
    margin-left: 425px;
    transition: margin-left 200ms ease;
}

.badge-sort {
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.order-badge.is-dragged {
    transition: 0s;
    opacity: 0.5;
    z-index: 9000;
}

/* ============================================= */

/* LOADER
========== */

.loader-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #242f3f;
    display:flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.loader {
    display: inline-block;
    width: 90px;
    height: 90px;
    position: relative;
    border: 4px solid #Fff;
    animation: loader 2s infinite ease;
    z-index: 1000;
}

.loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #fff;
    animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(180deg);
    }

    50% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes loader-inner {
    0% {
        height: 0%;
    }

    25% {
        height: 0%;
    }

    50% {
        height: 100%;
    }

    75% {
        height: 100%;
    }

    100% {
        height: 0%;
    }
}

/* ============================================= */

/* FORM
========== */

.select-multiple {
    position: relative;
    z-index: 100;
    margin-top: 5vh;
    width: 20vw;
    transform: translate(-50%, 0%);
    left: 50%;
}

.text-input-user {
    position: absolute;
    z-index: 100;
    margin-top: 5vh;
    transform: translate(-50%, 0%);
    left: 50%;
    width: 30vw;
}

.publish-text-area{
    height: 200px;
}

/* ============================================= */

/* BUTTON
=========== */

.content-login-first-generation {
    text-align: center;
}

.content-login a {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    border: 2px solid white;
    margin: 40px;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: 2px;
    color: #fff;
    transition: 0.5s;
    transition-delay: 0s;
    z-index: 100;
    font-size: 1.2vh;
}

.content-login a:hover {
    color: #000;
    box-shadow: 0 0 10px white,
    0 0 20px white,
    0 0 40px white,
    0 0 80px white,
    0 0 160px white;
}

.content-login a span {
    position: relative;
    z-index: 101;
}

.content-login a:nth-child(2) {
    filter: hue-rotate(80deg);
}

.content-login a::before {
    content: '';
    position: absolute;
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 2px;
    background: white;
    box-shadow: 5px -8px 0 white, 5px 8px 0 white;
    transition:  width 0.5s, left 0.5s, height 0.5s, box-shadow 0.5s;
    transition-delay: 1s,0.5s,0s,0s;
}

.content-login a:hover::before {
    width: 60%;
    height: 100%;
    left: -2px;
    box-shadow: 5px 0 0 white, 5px 0 0 white;
    transition-delay: 0s,0.5s,1s,1s;
}

.content-login a::after {
    content: '';
    position: absolute;
    right: -20px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 2px;
    background: white;
    box-shadow: -5px -8px 0 white, -5px 8px 0 white;
    transition:  width 0.5s, left 0.5s, height 0.5s, box-shadow 0.5s;
    transition-delay: 1s,0.5s,0s,0s;
}

.content-login a:hover::after {
    width: 60%;
    height: 100%;
    right: -2px;
    box-shadow: -5px 0 0 white, -5px 0 0 white;
    transition-delay: 0s,0.5s,1s,1s;
}

.content-login button {
    background-color: transparent;
    position: absolute;
    display: inline-block;
    padding: 15px 30px;
    border: 2px solid white;
    margin-top: 15vh;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: 2px;
    color: #fff;
    transition: 0.5s;
    transition-delay: 0s;
    z-index: 50;
    transform: translate(-50%, 0%);
    left: 50%;
    font-size: 1.2vh;
}

.content-login button:hover {
    color: #000 !important;
    box-shadow: 0 0 10px white,
    0 0 20px white,
    0 0 40px white,
    0 0 80px white,
    0 0 160px white;
}

.content-login button span {
    position: relative;
    z-index: 101;
}

.content-login button:nth-child(2) {
    filter: hue-rotate(80deg);
}

.content-login button::before {
    content: '';
    position: absolute;
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 2px;
    background: white;
    box-shadow: 5px -8px 0 white, 5px 8px 0 white;
    transition:  width 0.5s, left 0.5s, height 0.5s, box-shadow 0.5s;
    transition-delay: 1s,0.5s,0s,0s;
}

.content-login button:hover::before {
    width: 60%;
    height: 100%;
    left: -2px;
    box-shadow: 5px 0 0 white, 5px 0 0 white;
    transition-delay: 0s,0.5s,1s,1s;
    color: black;
}

.content-login button::after {
    content: '';
    position: absolute;
    right: -20px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 2px;
    background: white;
    box-shadow: -5px -8px 0 white, -5px 8px 0 white;
    transition:  width 0.5s, left 0.5s, height 0.5s, box-shadow 0.5s;
    transition-delay: 1s,0.5s,0s,0s;
}

.content-login button:hover::after {
    width: 60%;
    height: 100%;
    right: -2px;
    box-shadow: -5px 0 0 white, -5px 0 0 white;
    transition-delay: 0s,0.5s,1s,1s;
}

.button-right-one {
    position: fixed !important;
    top: 10vh;
    right: 1vw;
}

.button-right-two {
    position: fixed !important;
    top: 15vh;
    right: 1vw;
}

.button-right-three {
    position: fixed !important;
    top: 20vh;
    right: 1vw;
}

.button-right-four {
    position: fixed !important;
    top: 25vh;
    right: 1vw;
}

.button-right-five {
    position: fixed !important;
    top: 30vh;
    right: 1vw;
}

.button-left-one {
    position: fixed !important;
    top: 10vh;
    left: 1vw
}

.button-left-two {
    position: fixed !important;
    top: 15vh;
    left: 1vw
}

.button-left-three {
    position: fixed !important;
    top: 20vh;
    left: 1vw
}

.button-left-four {
    position: fixed !important;
    top: 25vh;
    left: 1vw
}

.generate-feature {
    position: relative;
    text-align: center;
}

.disable {
    color: dimgrey !important;
}

/* ============================================= */

/* Fav & Like button
================================================ */

.fav-btn {
    width: 44px;
    height: 44px;
    background-position: 0 0;
    cursor: pointer;
    position: absolute;
    right: 25px;
    top: 25px;
    z-index: 101;
}

.like-btn {
    cursor: pointer;
    position: absolute;
    right: 75px;
    top: 35px;
    z-index: 101;
    font-size: 2vh;
    color: grey;
}

.fav-btn-text {
  position: absolute;
  right: 40px;
  top: 65px;
  z-index: 101;
}

.like-btn-text {
  position: absolute;
  right: 83px;
  top: 65px;
  z-index: 101;
}

.fav-btn .active{
    width: 44px;
    height: 44px;
    background-position: 0 0;
    cursor: pointer;
    position: absolute;
    right: 25px;
    top: 25px;
    z-index: 101;
}

.fav-btn:hover {
    background-position: -2419px 0;
    transition: background 1s steps(55);
}

/* ============================================= */

/* Storyboard creation page
================================================ */

.badge-secondary {
    color: #fff;
    background-color: #6c757d;
    font-size: 1.5vh;
    margin-right: 15px;
    margin-bottom: 15px;
}

.storyboard-text {
    height: 25%;
    padding: 15px 15px 40px 15px;
}

.storyboard-case {
    width: 19vw;
    height: 50vh;
    border: solid white 2px;
    margin: 25px;
}

.storyboard {
    display: flex;
    flex-wrap: wrap;
    margin-left: 15.5vw;
    margin-top: 5vh;
    z-index: 10;
    width: 50vw;
}

.picture-storyboard-case {
    position: relative;
    transform: translate(-50%, 0%);
    left: 50%;
    height: 100%;
    width: 100%;
}

.storyboard-picture {
    height: 75%;
    border-bottom: solid white 2px;
}

.regen {
    font-size: 2vh;
    right: 4vw;
    margin-top: 0.3vh;
    z-index: 100;
    cursor: pointer;
}

.badge {
    white-space: normal !important;
}

.generate-form {
    top: -38px;
    position: relative;
}

#text-generation::-webkit-scrollbar {
    display: none;
}

#text-generation {
    position: fixed;
    width: 39vw;
    height: 80vh;
    margin-left: 60vw;
    margin-top: 7vh;
    border-left: solid 4px white;
    padding-top: 25px;
    padding-left: 25px;
    z-index: 25;
    overflow-y: hidden;
}

.text_generation {
    padding-left: 100px;
    padding-right: 100px;
}

/* ============================================= */

/* CARD
======== */

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    padding: 0;
    list-style-type: none;
    margin-bottom: 10vh;
}

.card {
    position: relative;
    display: block;
    height: 120%;
    border-radius: 30px;
    overflow: hidden;
    text-decoration: none;
    margin-left: 25px;
    margin-right: 25px;

}

.card-image {
    width: 472px;
    height: 441px;

}

.card-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    border-radius: 30px;
    background-color: #fff;
    transform: translateY(100%);
    transition: 0.2s ease-in-out;
}

.card:hover .card-overlay {
    transform: translateY(0);
}

.card-header {
    position: relative;
    display: flex;
    align-items: center;
    gap: 2em;
    padding: 1em;
    border-radius: 30px 0 0 0;
    background-color: #fff;
    transform: translateY(-100%);
    transition: 0.2s ease-in-out;
    border: 0px;
}

.card-arc {
    width: 80px;
    height: 80px;
    position: absolute;
    bottom: 100%;
    right: 0;
    z-index: 1;
}

.card-arc path {
    fill: #fff;
    d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
}

.card:hover .card-header {
    transform: translateY(0);
}

.card-thumb {
    flex-shrink: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.card-title {
    font-size: 1em;
    margin: 0 0 0.3em;
    color: #6a515e;
}

.card-tagline {
    display: block;
    margin: 0.5em 0;
    font-family: "MockFlowFont";
    font-size: 0.8em;
    color: #d7bdca;
}

.card-status {
    font-size: 0.8em;
    color: #d7bdca;
}

.card-description {
    padding: 0 2em 2em;
    margin: 0;
    color: #d7bdca;
    font-family: "MockFlowFont";
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: auto;
}

.card-description::-webkit-scrollbar {
    display: none;
}

/* ============================================= */

/* Register page
================================================ */

.user-card-register {
    width: 350px;
    margin-top: auto;
    margin-bottom: auto;
    background: #74cfbf;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    box-shadow: 30px 30px 30px -20px rgba(0, 0, 0, 0.6);
    border-radius: 2px;
    border-radius: 5px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
    background-color: #1f2029;
}

.errorlist {
    margin-top: 15px;
    padding: 0px;
    margin-bottom: 0px;
    list-style: none;
}

/* ============================================= */

/* Login page
================================================ */

.user-card-login {
    width: 350px;
    margin-top: auto;
    margin-bottom: auto;
    background: #74cfbf;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    box-shadow: 30px 30px 30px -20px rgba(0, 0, 0, 0.6);
    border-radius: 2px;
    border-radius: 5px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
    background-color: #1f2029;
}

/* ============================================= */

/* MEDIA
=========== */

@media (max-width: 991px) {

    .shadow-title {
        display: none;
    }

}

@media (max-width: 1700px) {
    h3, .h3 {
        font-size: 2rem;
    }
    h4, .h4 {
        font-size: 1.4rem;
    }

    .grid-pulse {
        flex: 0 0 auto;
        perspective: 600px;
        display: grid;
        grid-template-columns: repeat(3, 125px);
        grid-template-rows: repeat(3, 125px);
        grid-gap: 20px;
        max-width: 480px;
        transform: translate(-50%, -50%) rotate(45deg);
        position: absolute;
        top: 50%;
        left: 50%;
    }

    .subtitle {
        text-transform: uppercase;
        font-family: 'Etheriq_Normal';
        font-size: 2.5vw;
        position: relative;
        text-align: center;
        margin-top: 10vh;
    }

    .cards {
        margin-bottom: 20vh;
    }

    .button-right-one {
        position: fixed !important;
        top: 10vh;
        right: 1vw;
    }

    .button-right-two {
        position: fixed !important;
        top: 18vh;
        right: 1vw;
    }

    .button-right-three {
        position: fixed !important;
        top: 26vh;
        right: 1vw;
    }

    .button-right-four {
        position: fixed !important;
        top: 34vh;
        right: 1vw;
    }

    .button-right-five {
        position: fixed !important;
        top: 42vh;
        right: 1vw;
    }

    .button-left-one {
        position: fixed !important;
        top: 10vh;
        left: -1vw
    }

    .button-left-two {
        position: fixed !important;
        top: 18vh;
        left: -1vw
    }

    .button-left-three {
        position: fixed !important;
        top: 26vh;
        left: -1vw
    }

    .button-left-four {
        position: fixed !important;
        top: 34vh;
        left: -1vw
    }

    .badge-secondary {
        color: #fff;
        background-color: #6c757d;
        font-size: 2vh;
        margin-right: 15px;
        margin-bottom: 15px;
    }

    .small-padding{
        padding: 13px 20px !important;
    }

    .regen {
        font-size: 3vh;
        right: 4vw;
        margin-top: 1vh;
        z-index: 100;
        cursor: pointer;
    }

}

/* ============================================= */













